#slide-5 {
  background: url('ember-sketch.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #636363;
}

#slide-6 {
  background: url('sweet-h5.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #636363;
}

#slide-7 {
  background: url('flexibility.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #eee;
}

#slide-8 {
  background: url('learningcurve-ember.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #eee;
}

#slide-9 {
  background: url('documentation.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #636363;
}

#slide-10 {
  background: url('ember-productivity-sm.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #636363;
}

#slide-11 {
  background: url('ember-community.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #636363;
}

#slide-12 {
  background: url('ember-weekly.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #636363;
}


